<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Client list</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <h2>Clients</h2>
      </div>

      <div class="row">
	  	<a th:href="@{/client}" class="btn btn-primary">Add client</a>
	  	<a th:href="@{/logout}" class="btn btn-danger ml-2">Log out</a>
        <table class="table mt-2">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Username</th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="client, iter: ${clientList}">
      <th scope="row" th:text="${iter.index + 1}"/>
      <td th:text="${client.firstName}"/>
      <td th:text="${client.lastName}"/>
      <td th:text="${client.username}"/>
	  <td>
  	  	<a th:href="@{'/client/' + ${client.id}}" class="btn btn-primary">Edit client</a>
	  </td>
    </tr>
  </tbody>
</table>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 Company Name</p>
      </footer>
    </div>
  </body>
</html>
